<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible" (onHide)="onclose.emit()">
    <ng-template #headless>
      <div class="flex flex-col h-full bg-white text-gray-800">
        <!-- ENCABEZADO -->
        <div class="flex items-center justify-between px-6 py-4 border-b-2 border-blue-400">
          <span class="inline-flex items-center gap-2">
            <span class="font-semibold text-xl text-blue-600">
              {{ authService.isAdmin() ? 'Admin Panel' : 'Mi Panel' }}
            </span>
          </span>
          <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-8 w-8 text-blue-600 border-blue-500 hover:bg-blue-100"  />
        </div>

        <!-- CONTENIDO -->
        <div class="overflow-y-auto px-4">
          <ul class="list-none p-0 m-0">

            <!-- ADMIN -->
            <ng-container *ngIf="authService.isAdmin()">
              <li class="pt-1">
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-usuarios" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-users text-blue-700"></i>
                  <span>Gestionar usuarios</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-cursos" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-bookmark text-green-700"></i>
                  <span>Gestionar cursos</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-materias" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-book text-orange-700"></i>
                  <span>Gestionar materias</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-profesores" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-id-card text-indigo-700"></i>
                  <span>Gestionar profesores</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-estudiantes" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-user-plus text-cyan-700"></i>
                  <span>Gestionar estudiantes</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-asignaciones" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-calendar text-purple-700"></i>
                  <span>Gestionar Asignaciones</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-calificaciones" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-chart-bar text-yellow-700"></i>
                  <span>Gestionar Calificaciones</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-parametros" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-chart-bar text-yellow-700"></i>
                  <span>Gestionar Parametros</span>
                </a>
              </li>
              <!-- <li>
                <a (click)="closeCallback($event)" routerLink="/admin/gestion-ventas" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-chart-line"></i>
                  <span>Gestionar ventas</span>
                </a>
              </li> -->
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/bitacora" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-history text-blue-800"></i>
                  <span>Bitácora</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/reportes" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-file-pdf text-red-700"></i>
                  <span>Reportes</span>
                </a>
              </li>
              <!-- <li>
                <a (click)="closeCallback($event)" routerLink="/admin/Mensajes" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-envelope"></i>
                  <span>Comentarios</span>
                </a>
              </li> -->
              <li>
                <a (click)="closeCallback($event)" routerLink="/admin/backup" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-database text-teal-700"></i>
                  <span>Backup y Restauración</span>
                </a>
              </li>
            </ng-container>

            <!-- PROFESOR -->
            <ng-container *ngIf="authService.getRole() === 'Teacher'">
              <li class="pt-1">
                <a (click)="closeCallback($event)" routerLink="profesor/mis-clases" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-book text-blue-700"></i>
                  <span>Mis Clases</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="profesor/asistencias" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-calendar-plus text-green-700"></i>
                  <span>Asistencias</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="profesor/participaciones" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-calendar-plus text-green-700"></i>
                  <span>Participaciones</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="profesor/calificaciones" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-chart-bar text-orange-700"></i>
                  <span>Gestionar Calificaciones</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="profesor/lista-estudiantes" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-users text-indigo-700"></i>
                  <span>Lista de Estudiantes</span>
                </a>
              </li>
              <li>
                <a (click)="closeCallback($event)" routerLink="profesor/materias" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                  <i class="pi pi-list text-purple-700"></i>
                  <span>Materias Asignadas</span>
                </a>
              </li>
            </ng-container>

            <!--TUTOR-->

            <!--ALUMNO-->


            <!-- AMBOS -->
            <li>
              <a (click)="closeCallback($event)" routerLink="/configuracion" class="flex items-center gap-2 p-3 rounded-lg hover:bg-blue-100 cursor-pointer">
                <i class="pi pi-cog text-gray-700"></i>
                <span>Configuración</span>
              </a>
            </li>
            <li>
              <a (click)="authService.logout()" class="flex items-center gap-2 p-3 rounded-lg hover:bg-red-100 text-red-600 cursor-pointer">
                <i class="pi pi-sign-out"></i>
                <span>Cerrar sesión</span>
              </a>
            </li>

          </ul>
        </div>

        <!-- PIE DEL SIDEBAR -->
        <div class="mt-auto p-4 border-t-4 border-blue-400 bg-blue-50">
          <hr class="mb-4 " />
          <div class="flex items-center gap-2 ">
            <p-avatar icon="pi pi-user" shape="circle" />
            <div>
              <p class="font-semibold">
                {{ getRoleName() }}
              </p>
              <p class="text-sm text-gray-500">{{user?.first_name}} {{user?.last_name}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-drawer>

  <!-- BOTÓN ABRIR SIDEBAR -->
  <div class="fixed top-24 left-0 z-50">
    <div class="bg-gradient-to-r from-blue-800 to-blue-600 text-white rounded-r-full shadow-lg flex items-center justify-center w-14 h-14 cursor-pointer transition-all duration-200 hover:from-blue-700 hover:to-blue-500"
        (click)="visible = true"
        title="Abrir menú">
      <i class="pi pi-bars text-white text-2xl"></i>
    </div>
  </div>
  
</div>
